.CardLayout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 20rem;
    height: 30rem;
    background-color: #3f3f3f ;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.CardContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.CardLayout:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px #747bff;
}